@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-col-lg-12 {
  flex: auto;
  max-width: none;
}



h1,
h2,
h3,
h4,
h5 {
   font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}